    .bs-wizard > .bs-wizard-step {
        padding: 0;
        position: relative;
    }

        .bs-wizard > .bs-wizard-step .bs-wizard-title {
            margin-bottom: 5px;
            font-size: 0.857em;
        }

        .bs-wizard > .bs-wizard-step .bs-wizard-info {
            color: #212529;
            font-size: 12px;
        }

        .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
            position: absolute;
            width: 30px;
            height: 30px;
            display: block;
            top: 25px;
            left: 50%;
            margin-top: -15px;
            margin-left: -15px;
            border-radius: 50%;
        }

            .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
                content: ' ';
                width: 14px;
                height: 14px;
                border-radius: 50px;
                position: absolute;
                top: 8px;
                left: 8px;
            }

        .bs-wizard > .bs-wizard-step.complete > .bs-wizard-dot:after {
            background: #28a745;
        }

        .bs-wizard > .bs-wizard-step.active > .bs-wizard-dot:after {
            background: #174c92;
        }

        .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
            background: #aaaaaa;
        }

        .bs-wizard > .bs-wizard-step > .progress {
            position: relative;
            border-radius: 0px;
            height: 8px;
            box-shadow: none;
            margin: 20px 0;
        }

            .bs-wizard > .bs-wizard-step > .progress > .progress-bar {
                width: 0px;
                box-shadow: none;
            }

        .bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
            width: 0%;
        }

        .bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
            width: 100%;
        }

        .bs-wizard > .bs-wizard-step:first-child .progress {
            left: 50%;
        }

        .bs-wizard > .bs-wizard-step:last-child .progress {
            width: 50%;
        }

        .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
            pointer-events: none;
        }

        .bs-wizard > .bs-wizard-step.disabled > .progress,
        .bs-wizard > .bs-wizard-step:last-child.disabled > .progress > .progress-bar,
        .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
            background: #bebebe;
        }

        .bs-wizard > .bs-wizard-step.complete > .progress,
        .bs-wizard > .bs-wizard-step:last-child.complete > .progress > .progress-bar,
        .bs-wizard > .bs-wizard-step.complete > .bs-wizard-dot {
            background: #c6fbaa;
        }

        .bs-wizard > .bs-wizard-step.active > .progress,
        .bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar,
        .bs-wizard > .bs-wizard-step.active > .bs-wizard-dot {
            background: #2b7be5;
        }