// Cores
$branco: #fff;
$preto: #000;
$corbase: #2b88d8;
$corsecundaria: #004578;

// Mixins
@mixin radius ($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition ($all) {
    -webkit-transition: all ($all);
    -moz-transition: all ($all);
    -o-transition: all ($all);
    transition: all ($all);
}

@mixin box-shadow ($style) {
    -moz-box-shadow: ($style);
    -webkit-box-shadow: ($style);
    box-shadow: ($style);
}

//Custom UX
.wrapper-slider {
    width: 245px;
    position: relative;
    border: none;

    .slider-news-home {
        display: inline-block;
        width: 245px;

        .item-news {
            @include radius(8px);
            width: 100%;
            border: none;

            .thumb-new {
                display: inline-block;
                width: 100%;
                height: 220px;

                img {
                    display: inline-block;
                    width: 100%;
                    max-width: 245px;
                    height: 100%;
                    max-height: 220px;
                    @include radius(8px);
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }

            .nome-da-noticia {
                display: inline-block;
                width: 100%;
                background-color: #eef2f7;
                padding: 15px;
                font-weight: bold;
                color: #1d1d1d;
                border-bottom-right-radius: 8px;
                border-bottom-left-radius: 8px;
            }
        }
    }

    .next,
    .prev {
        position: absolute;
        top: 40%;
        cursor: pointer;
        font-size: 20px;

        &:hover {
            color: #f08214;
        }
    }

    .next {
        right: 25px
    }

    .prev {
        left: 25px;
    }
}

.placa-b {
    display: inline-block;
    background: #fff;
    border: solid 2px #000;
    @include radius(5px);
    width: 100%;
    max-width: 100px;

    .faixa-azul {
        display: block;
        width: 100%;
        height: 5px;
        background: blue;
    }

    .numero-da-placa {
        text-transform: uppercase;
        display: inline-block;
        width: 100px;
        padding: 5px;
        font-size: 12px;
        text-align: center;
        font-weight: bold;
    }

    &.vermelho-vermelho {
        border: solid 2px red;

        .numero-da-placa {
            color: red;
        }
    }

    &.verde-verde {
        border: solid 2px green;

        .numero-da-placa {
            color: green;
        }
    }

    &.azul-azul {
        border: solid 2px blue;

        .numero-da-placa {
            color: blue;
        }
    }

    &.laranja-laranja {
        border: solid 2px orange;

        .numero-da-placa {
            color: orange;
        }
    }

    &.roxo-roxo {
        border: solid 2px purple;

        .numero-da-placa {
            color: purple;
        }
    }
}

.botao-clear {
    @include transition(0.3s);
    border: solid 1px #dee2e6;
    margin-right: 10px;

    &:hover {
        color: $preto;
        background: #f5f5f5;
        border: solid 1px #f08214;
    }
}

.etapas-processo {
    display: flex;
    gap: 5px;
    flex-flow: row;

    .etapa {
        width: 60px;
        height: 65px;
        background-color: #f7f7f7;
        display: inline-block;
        @include radius(6px);
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        border: solid 1px #dfdfdf;
        cursor: pointer;
        @include transition(0.3s);

        &.saibamais {
            width: 32px;
        }

        .icon-etapa {
            margin-top: 10px;
            display: inline-block;
            width: 100%;
            height: 30px;
            background-size: 30px;
            filter: grayscale(1);
            @include transition(0.3s);

            &.identificacaopessoa, &.envioimagembca, &.validacaofacial {
                background: url(../Imagens/_icons/13.png) center center no-repeat;
                background-size: 30px;
            }

            &.biometria, &.digital {
                background: url(../Imagens/_icons/20.png) center center no-repeat;
                background-size: 30px;
            }

            &.strans-ca, &.strans-co, &.strans-pgu {
                background: url(../Imagens/_icons/21.png) center center no-repeat;
                background-size: 30px;
            }

            &.ctrans-ca, &.ctrans-co, &.ctrans-pgu {
                background: url(../Imagens/_icons/22.png) center center no-repeat;
                background-size: 30px;
            }

            &.psicologic {
                background: url(../Imagens/_icons/04.png) center center no-repeat;
                background-size: 30px;
            }

            &.clinico {
                background: url(../Imagens/_icons/03.png) center center no-repeat;
                background-size: 30px;
            }

            &.teorico {
                background: url(../Imagens/_icons/05.png) center center no-repeat;
                background-size: 30px;
            }

            &.provao, &.provaren, &.provarec, &.prova-01, &.prova-02, &.prova-03, &.prova-04, &.prova-07, &.prova-08, &.prova-09 {
                background: url(../Imagens/_icons/29.png) center center no-repeat;
                background-size: 30px;
            }

            &.agendt, &.agendtr, &.agendtc, &.agendt-01, &.agendt-02, &.agendt-03, &.agendt-04, &.agendt-08, &.agendt-09, &.agendt-07 {
                background: url(../Imagens/_icons/14.png) center center no-repeat;
                background-size: 30px;
            }

            &.agendp-a, &.agendp-b, &.agendp-c, &.agendp-d, &.agendp-e, &.agendp-x {
                background: url(../Imagens/_icons/41.png) center center no-repeat;
                background-size: 30px;
            }

            &.ladv-a, &.ladv-b, &.ladv-c, &.ladv-d, &.ladv-e, &.ladv-x {
                background: url(../Imagens/_icons/07.png) center center no-repeat;
                background-size: 30px;
            }

            &.sprat-b {
                background: url(../Imagens/_icons/18.png) center center no-repeat;
                background-size: 30px;
            }

            &.cprat-a, &.cprat-x {
                background: url(../Imagens/_icons/08.png) center center no-repeat;
                background-size: 30px;
            }

            &.cprat-b, &.cprat-c, &.cprat-d, &.cprat-e {
                background: url(../Imagens/_icons/09.png) center center no-repeat;
                background-size: 30px;
            }

            &.eprat-a, &.eprat-x {
                background: url(../Imagens/_icons/10.png) center center no-repeat;
                background-size: 30px;
            }

            &.eprat-b, &.eprat-c, &.eprat-d, &.eprat-e {
                background: url(../Imagens/_icons/11.png) center center no-repeat;
                background-size: 30px;
            }

            &.auditoria {
                background: url(../Imagens/_icons/12.png) center center no-repeat;
                background-size: 30px;
            }

            &.ipva {
                background: url(../Imagens/_icons/33.png) center center no-repeat;
                background-size: 30px;
            }

            &.taxa, &.taxa-trans, &.taxa-e01, &.taxa-e03, &.taxa-e04, &.taxa-e02 {
                background: url(../Imagens/_icons/02.png) center center no-repeat;
                background-size: 30px;
            }

            &.taxavistoria {
                background: url(../Imagens/_icons/02.png) center center no-repeat;
                background-size: 30px;
            }

            &.abertura, &.complemento {
                background: url(../Imagens/_icons/01.png) center center no-repeat;
                background-size: 30px;
            }

            &.placa {
                background: url(../Imagens/_icons/15.png) center center no-repeat;
                background-size: 30px;
            }

            &.auditoria {
                background: url(../Imagens/_icons/24.png) center center no-repeat;
                background-size: 30px;
            }

            &.crv {
                background: url(../Imagens/_icons/16.png) center center no-repeat;
                background-size: 30px;
            }


            &.identificacaoveiculo {
                background: url(../Imagens/_icons/28.png) center center no-repeat;
                background-size: 30px;
            }

            &.registrocontrato {
                background: url(../Imagens/_icons/35.png) center center no-repeat;
                background-size: 30px;
            }

            &.formrenavam, &.formrenach {
                background: url(../Imagens/_icons/32.png) center center no-repeat;
                background-size: 30px;
            }

            &.desistencia-a, &.desistencia-b, &.desistencia-c, &.desistencia-d, &.desistencia-e, &.desistencia-x {
                background: url(../Imagens/_icons/44.png) center center no-repeat;
                background-size: 30px;
            }

            &.vistoria {
                background: url(../Imagens/_icons/17.png) center center no-repeat;
                background-size: 30px;
            }

            &.inclusaogravame {
                background: url(../Imagens/_icons/37.png) center center no-repeat;
                background-size: 30px;
            }

            &.baixagravame {
                background: url(../Imagens/_icons/36.png) center center no-repeat;
                background-size: 30px;
            }

            &.notafiscal {
                background: url(../Imagens/_icons/38.png) center center no-repeat;
                background-size: 30px;
            }

            &.saibamais {
                background: url(../Imagens/_icons/39.png) center center no-repeat;
                background-size: 30px;
            }

            &.atpv {
                background: url(../Imagens/_icons/40.png) center center no-repeat;
                background-size: 30px;
            }

            &.lote {
                background: url(../Imagens/_icons/19.png) center center no-repeat;
                background-size: 30px;
            }

            &.trocaciret {
                background: url(../Imagens/_icons/27.png) center center no-repeat;
                background-size: 30px;
            }

            &.curso-a,
            &.cursorec,
            &.curso-e01,
            &.curso-e02,
            &.curso-e03,
            &.curso-e04,
            &.curso-e07,
            &.curso-e08,
            &.curso-e09,
            &.curso-e11,
            &.curso-e12,
            &.curso-e13,
            &.curso-e14,
            &.curso-e17,
            &.curso-e18,
            &.curso-e19 {
                background: url(../Imagens/_icons/42.png) center center no-repeat;
                background-size: 30px;
            }

            &:hover {
                filter: grayscale(0);
            }
        }

        .nome-etapa {
            display: inline-block;
            text-align: center;
            width: 100%;
            font-weight: 400;
            font-size: 11px;
            line-height: 11px;
            margin-top: 5px;
            @include transition(0.3s);
        }

        .etapa-concluido,
        .etapa-cancelado,
        .etapa-davez,
        .etapa-desistencia {
            width: 20px;
            height: 20px;
            position: absolute;
            top: -5px;
            right: -2px;
            text-align: center;
            font-size: 10px;
            @include transition(0.3s);
        }

        .etapa-concluido {
            background: url(../Imagens/_icons/etapa-check.png) center center no-repeat;
        }

        .etapa-cancelado {
            background: url(../Imagens/_icons/etapa-cancelada.png) center center no-repeat;
        }

        .etapa-davez {
            background: url(../Imagens/_icons/etapa-davez.png) center center no-repeat;
        }

        .etapa-desistencia {
            background: url(../Imagens/_icons/etapa-desistencia.png) center center no-repeat;
        }

        &.etapa-atual {
            border: solid 1px #2a98ec;

            .icon-etapa {
                filter: grayscale(0);
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -10px;
                height: 5px;
                background-color: #2a98ec;
                width: 60%;
                @include radius(4px);
                @include transition(0.3s);
            }
        }

        &.etapa-atual .nome-etapa {
            color: #2a98ec;
            font-weight: 500;
        }



        &.etapa-indisponivel {
            background-color: #f8f9fb;
            border: none;
            opacity: 0.5;
            cursor: inherit;
        }
    }


    .linha-ab {
        .categoria {
            display: flex;

            .tipo-carteira {
                width: 60px;
                height: 30px;
                background-color: #f7f7f7;
                @include radius(6px);
                display: flex;
                align-items: center;
                border: solid 1px #dfdfdf;
                cursor: pointer;
                -webkit-transition: all .3s;
                -moz-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s;
                justify-content: center;
                margin-right: 5px;
                font-weight: bold;


                .icon-etapa {
                    display: inline-block;
                    width: 50%;
                    height: 35px;
                    background-size: 35px;
                    filter: grayscale(1);
                    @include transition(0.3s);

                    &.moto {
                        background: url(../Imagens/_icons/08.png) center center no-repeat;
                        background-size: 25px;
                    }

                    &.carro {
                        background: url(../Imagens/_icons/09.png) center center no-repeat;
                        background-size: 20px;
                    }

                    &:hover {
                        filter: grayscale(0);
                    }
                }
            }
        }
    }

    .etapas-small {
        .etapa-small {
            &.etapa-atual {
                &::after {
                    content: "";
                    position: absolute;
                    height: 5px;
                    background-color: #2a98ec;
                    width: 60%;
                    @include radius(4px);
                    @include transition(0.3s);
                }

                &:first-child::after {
                    bottom: -45px;
                }

                &:last-child::after {
                    bottom: -10px;
                }
            }
        }
    }

    .etapa-small {
        height: 30px;
        margin-bottom: 5px;
        margin-right: 5px;
        padding: 0 6px;
        background-color: #f7f7f7;
        @include radius(6px);
        display: flex;
        align-items: center;
        position: relative;
        border: solid 1px #dfdfdf;
        cursor: pointer;
        @include transition(0.3s);
        justify-content: center;

        &.saibamais {
            width: 32px;
        }

        &.etapa-mute {
            opacity: 0;
        }

        .icon-etapa {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-size: 10px;
            filter: grayscale(1);
            @include transition(0.3s);

            &.identificacaopessoa {
                background: url(../Imagens/_icons/13.png) center center no-repeat;
                background-size: 16px;
            }

            &.biometria, &.validacaofacial {
                background: url(../Imagens/_icons/20.png) center center no-repeat;
                background-size: 16px;
            }

            &.sprat-b {
                background: url(../Imagens/_icons/18.png) center center no-repeat;
                background-size: 16px;
            }

            &.cprat-a, &.cprat-x {
                background: url(../Imagens/_icons/08.png) center center no-repeat;
                background-size: 16px;
            }

            &.cprat-b, &.cprat-c, &.cprat-d, &.cprat-e {
                background: url(../Imagens/_icons/09.png) center center no-repeat;
                background-size: 16px;
            }

            &.eprat-a, &.eprat-x {
                background: url(../Imagens/_icons/10.png) center center no-repeat;
                background-size: 16px;
            }

            &.eprat-b, &.eprat-c, &.eprat-d, &.eprat-e {
                background: url(../Imagens/_icons/11.png) center center no-repeat;
                background-size: 16px;
            }

            &.auditoria {
                background: url(../Imagens/_icons/12.png) center center no-repeat;
                background-size: 16px;
            }

            &.teorico {
                background: url(../Imagens/_icons/05.png) center center no-repeat;
                background-size: 16px;
            }

            &.provao, &.provaren, &.provarec, &.prova-01, &.prova-02, &.prova-03, &.prova-04, &.prova-07, &.prova-08, &.prova-09 {
                background: url(../Imagens/_icons/29.png) center center no-repeat;
                background-size: 16px;
            }

            &.agendamento {
                background: url(../Imagens/_icons/14.png) center center no-repeat;
                background-size: 16px;
            }

            &.psicologic {
                background: url(../Imagens/_icons/04.png) center center no-repeat;
                background-size: 16px;
            }

            &.clinico {
                background: url(../Imagens/_icons/03.png) center center no-repeat;
                background-size: 16px;
            }

            &.ipva {
                background: url(../Imagens/_icons/33.png) center center no-repeat;
                background-size: 16px;
            }

            &.taxa, &.taxa-e01, &.taxa-e03, &.taxa-e04, &.taxa-e02 {
                background: url(../Imagens/_icons/02.png) center center no-repeat;
                background-size: 16px;
            }

            &.taxavistoria {
                background: url(../Imagens/_icons/02.png) center center no-repeat;
                background-size: 16px;
            }

            &.abertura {
                background: url(../Imagens/_icons/01.png) center center no-repeat;
                background-size: 16px;
            }

            &.placa {
                background: url(../Imagens/_icons/15.png) center center no-repeat;
                background-size: 16px;
            }

            &.auditoria {
                background: url(../Imagens/_icons/24.png) center center no-repeat;
                background-size: 16px;
            }

            &.crv {
                background: url(../Imagens/_icons/16.png) center center no-repeat;
                background-size: 16px;
            }

            &.identificacaoveiculo {
                background: url(../Imagens/_icons/28.png) center center no-repeat;
                background-size: 16px;
            }

            &.registrocontrato {
                background: url(../Imagens/_icons/35.png) center center no-repeat;
                background-size: 16px;
            }

            &.formrenavam {
                background: url(../Imagens/_icons/32.png) center center no-repeat;
                background-size: 16px;
            }

            &.vistoria {
                background: url(../Imagens/_icons/17.png) center center no-repeat;
                background-size: 16px;
            }

            &.inclusaogravame {
                background: url(../Imagens/_icons/37.png) center center no-repeat;
                background-size: 16px;
            }

            &.baixagravame {
                background: url(../Imagens/_icons/36.png) center center no-repeat;
                background-size: 16px;
            }

            &.notafiscal {
                background: url(../Imagens/_icons/38.png) center center no-repeat;
                background-size: 16px;
            }

            &.saibamais {
                background: url(../Imagens/_icons/39.png) center center no-repeat;
                background-size: 16px;
            }

            &.moto {
                background: url(../Imagens/_icons/08.png) center center no-repeat;
                background-size: 16px;
            }

            &.carro {
                background: url(../Imagens/_icons/09.png) center center no-repeat;
                background-size: 16px;
            }

            &.provaMoto {
                background: url(../Imagens/_icons/10.png) center center no-repeat;
                background-size: 16px;
            }

            &.provaCarro {
                background: url(../Imagens/_icons/11.png) center center no-repeat;
                background-size: 16px;
            }

            &:hover {
                filter: grayscale(0);
            }
        }

        .nome-etapa {
            display: inline-block;
            text-align: center;
            font-weight: 400;
            font-size: 11px;
            line-height: 11px;
            @include transition(0.3s);
        }

        .etapa-concluido,
        .etapa-cancelado,
        .etapa-davez,
        .etapa-desistencia {
            width: 20px;
            height: 20px;
            position: absolute;
            top: -5px;
            right: -6px;
            text-align: center;
            font-size: 10px;
            @include transition(0.3s);
        }

        .etapa-concluido {
            background: url(../Imagens/_icons/etapa-check.png) center center no-repeat;
        }

        .etapa-cancelado {
            background: url(../Imagens/_icons/etapa-cancelada.png) center center no-repeat;
        }

        .etapa-davez {
            background: url(../Imagens/_icons/etapa-davez.png) center center no-repeat;
        }

        .etapa-desistencia {
            background: url(../Imagens/_icons/etapa-desistencia.png) center center no-repeat;
        }

        &.etapa-atual {
            border: solid 1px #2a98ec;
        }

        &.etapa-atual .nome-etapa {
            color: #2a98ec;
            font-weight: 500;
        }

        &.etapa-indisponivel {
            background-color: #f8f9fb;
            border: none;
            opacity: 0.5;
            cursor: inherit;
        }
    }
}

.etapas-processo-adm {
    display: flex;
    gap: 5px;
    flex-flow: row;

    .etapa {
        width: 60px;
        height: 65px;
        background-color: #f7f7f7;
        display: inline-block;
        @include radius(6px);
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        border: solid 1px #dfdfdf;
        cursor: pointer;
        @include transition(0.3s);

        &.saibamais {
            width: 32px;
        }

        .icon-etapa {
            margin-top: 10px;
            display: inline-block;
            width: 100%;
            height: 30px;
            background-size: 30px;
            filter: grayscale(1);
            @include transition(0.3s);

            &.pa-identificacaopessoa {
                background: url(../Imagens/_icons/13.png) center center no-repeat;
                background-size: 30px;
            }

            &.pa-abertura {
                background: url(../Imagens/_icons/01.png) center center no-repeat;
                background-size: 30px;
            }

            &.pa-julgamentodefesa {
                background: url(../Imagens/_icons/24.png) center center no-repeat;
                background-size: 30px;
            }

            &.pa-anexo {
                background: url(../Imagens/_icons/26.png) center center no-repeat;
                background-size: 30px;
            }

            &.pa-editalinstauracao {
                background: url(../Imagens/_icons/31.png) center center no-repeat;
                background-size: 30px;
            }

            &.pa-defesainstauracao {
                background: url(../Imagens/_icons/23.png) center center no-repeat;
                background-size: 30px;
            }

            &.pa-editalpenalidade {
                background: url(../Imagens/_icons/06.png) center center no-repeat;
                background-size: 30px;
            }

            &.pa-registrodefesainstauracao, &.pa-registrojari, &.pa-registrodefesacetran {
                background: url(../Imagens/_icons/06.png) center center no-repeat;
                background-size: 30px;
            }

            &.pa-notificacaoinstauracao, &.pa-notificacaopenalidade, &.pa-notificacaojari, &.pa-notificacaocetran, &.pa-notificacaodeferimento {
                background: url(../Imagens/_icons/31.png) center center no-repeat;
                background-size: 30px;
            }

            &.pa-autoinfracao {
                background: url(../Imagens/_icons/19.png) center center no-repeat;
                background-size: 30px;
            }

            &.pa-defesainstauracao, &.pa-jari, &.pa-cetran {
                background: url(../Imagens/_icons/24.png) center center no-repeat;
                background-size: 30px;
            }

            &.pa-notificacaoimposicaopenalidade {
                background: url(../Imagens/_icons/31.png) center center no-repeat;
                background-size: 30px;
            }

            &.pa-notificacaocumprimentopenalidade {
                background: url(../Imagens/_icons/33.png) center center no-repeat;
                background-size: 30px;
            }

            &.pa-impedimento {
                background: url(../Imagens/_icons/24.png) center center no-repeat;
                background-size: 30px;
            }

            &:hover {
                filter: grayscale(0);
            }
        }

        .nome-etapa {
            display: inline-block;
            text-align: center;
            width: 100%;
            font-weight: 400;
            font-size: 11px;
            line-height: 11px;
            margin-top: 5px;
            @include transition(0.3s);
        }

        .etapa-concluido,
        .etapa-cancelado,
        .etapa-davez,
        .etapa-desistencia {
            width: 20px;
            height: 20px;
            position: absolute;
            top: -5px;
            right: -2px;
            text-align: center;
            font-size: 10px;
            @include transition(0.3s);
        }

        .etapa-concluido {
            background: url(../Imagens/_icons/etapa-check.png) center center no-repeat;
        }

        .etapa-cancelado {
            background: url(../Imagens/_icons/etapa-cancelada.png) center center no-repeat;
        }

        .etapa-davez {
            background: url(../Imagens/_icons/etapa-davez.png) center center no-repeat;
        }

        .etapa-desistencia {
            background: url(../Imagens/_icons/etapa-desistencia.png) center center no-repeat;
        }

        &.etapa-atual {
            border: solid 1px #2a98ec;

            .icon-etapa {
                filter: grayscale(0);
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -10px;
                height: 5px;
                background-color: #2a98ec;
                width: 60%;
                @include radius(4px);
                @include transition(0.3s);
            }
        }

        &.etapa-atual .nome-etapa {
            color: #2a98ec;
            font-weight: 500;
        }



        &.etapa-indisponivel {
            background-color: #f8f9fb;
            border: none;
            opacity: 0.5;
            cursor: inherit;
        }
    }
}

.etapas-processo-pid {
    display: flex;
    gap: 5px;
    flex-flow: row;

    .etapa {
        width: 60px;
        height: 65px;
        background-color: #f7f7f7;
        display: inline-block;
        @include radius(6px);
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        border: solid 1px #dfdfdf;
        cursor: pointer;
        @include transition(0.3s);

        &.saibamais {
            width: 32px;
        }

        .icon-etapa {
            margin-top: 10px;
            display: inline-block;
            width: 100%;
            height: 30px;
            background-size: 30px;
            filter: grayscale(1);
            @include transition(0.3s);

            &.identificacaopessoa, &.envioimagembca, &.validacaofacial {
                background: url(../Imagens/_icons/13.png) center center no-repeat;
                background-size: 30px;
            }

            &.biometria, &.digital {
                background: url(../Imagens/_icons/20.png) center center no-repeat;
                background-size: 30px;
            }

            &.strans-ca, &.strans-co, &.strans-pgu {
                background: url(../Imagens/_icons/21.png) center center no-repeat;
                background-size: 30px;
            }

            &.ctrans-ca, &.ctrans-co, &.ctrans-pgu {
                background: url(../Imagens/_icons/22.png) center center no-repeat;
                background-size: 30px;
            }

            &.psicologic {
                background: url(../Imagens/_icons/04.png) center center no-repeat;
                background-size: 30px;
            }

            &.clinico {
                background: url(../Imagens/_icons/03.png) center center no-repeat;
                background-size: 30px;
            }

            &.teorico {
                background: url(../Imagens/_icons/05.png) center center no-repeat;
                background-size: 30px;
            }

            &.provao, &.provaren, &.provarec, &.prova-01, &.prova-02, &.prova-03, &.prova-04, &.prova-07, &.prova-08, &.prova-09 {
                background: url(../Imagens/_icons/29.png) center center no-repeat;
                background-size: 30px;
            }

            &.agendt, &.agendtr, &.agendtc, &.agendt-01, &.agendt-02, &.agendt-03, &.agendt-04, &.agendt-08, &.agendt-09, &.agendt-07 {
                background: url(../Imagens/_icons/14.png) center center no-repeat;
                background-size: 30px;
            }

            &.agendp-a, &.agendp-b, &.agendp-c, &.agendp-d, &.agendp-e, &.agendp-x {
                background: url(../Imagens/_icons/41.png) center center no-repeat;
                background-size: 30px;
            }

            &.ladv-a, &.ladv-b, &.ladv-c, &.ladv-d, &.ladv-e, &.ladv-x {
                background: url(../Imagens/_icons/07.png) center center no-repeat;
                background-size: 30px;
            }

            &.desistencia-a, &.desistencia-b, &.desistencia-c, &.desistencia-d, &.desistencia-e, &.desistencia-x {
                background: url(../Imagens/_icons/44.png) center center no-repeat;
                background-size: 30px;
            }

            &.sprat-b {
                background: url(../Imagens/_icons/18.png) center center no-repeat;
                background-size: 30px;
            }

            &.cprat-a, &.cprat-x {
                background: url(../Imagens/_icons/08.png) center center no-repeat;
                background-size: 30px;
            }

            &.cprat-b, &.cprat-c, &.cprat-d, &.cprat-e {
                background: url(../Imagens/_icons/09.png) center center no-repeat;
                background-size: 30px;
            }

            &.eprat-a, &.eprat-x {
                background: url(../Imagens/_icons/10.png) center center no-repeat;
                background-size: 30px;
            }

            &.eprat-b, &.eprat-c, &.eprat-d, &.eprat-e {
                background: url(../Imagens/_icons/11.png) center center no-repeat;
                background-size: 30px;
            }

            &.auditoria {
                background: url(../Imagens/_icons/12.png) center center no-repeat;
                background-size: 30px;
            }

            &.ipva {
                background: url(../Imagens/_icons/33.png) center center no-repeat;
                background-size: 30px;
            }

            &.taxa, &.taxa-trans {
                background: url(../Imagens/_icons/02.png) center center no-repeat;
                background-size: 30px;
            }

            &.taxavistoria {
                background: url(../Imagens/_icons/02.png) center center no-repeat;
                background-size: 30px;
            }

            &.abertura, &.complemento {
                background: url(../Imagens/_icons/01.png) center center no-repeat;
                background-size: 30px;
            }

            &.placa {
                background: url(../Imagens/_icons/15.png) center center no-repeat;
                background-size: 30px;
            }

            &.auditoria {
                background: url(../Imagens/_icons/24.png) center center no-repeat;
                background-size: 30px;
            }

            &.crv {
                background: url(../Imagens/_icons/16.png) center center no-repeat;
                background-size: 30px;
            }


            &.identificacaoveiculo {
                background: url(../Imagens/_icons/28.png) center center no-repeat;
                background-size: 30px;
            }

            &.registrocontrato {
                background: url(../Imagens/_icons/35.png) center center no-repeat;
                background-size: 30px;
            }

            &.formrenavam, &.formrenach {
                background: url(../Imagens/_icons/32.png) center center no-repeat;
                background-size: 30px;
            }

            &.vistoria {
                background: url(../Imagens/_icons/17.png) center center no-repeat;
                background-size: 30px;
            }

            &.inclusaogravame {
                background: url(../Imagens/_icons/37.png) center center no-repeat;
                background-size: 30px;
            }

            &.baixagravame {
                background: url(../Imagens/_icons/36.png) center center no-repeat;
                background-size: 30px;
            }

            &.notafiscal {
                background: url(../Imagens/_icons/38.png) center center no-repeat;
                background-size: 30px;
            }

            &.saibamais {
                background: url(../Imagens/_icons/39.png) center center no-repeat;
                background-size: 30px;
            }

            &.atpv {
                background: url(../Imagens/_icons/40.png) center center no-repeat;
                background-size: 30px;
            }

            &:hover {
                filter: grayscale(0);
            }
        }

        .nome-etapa {
            display: inline-block;
            text-align: center;
            width: 100%;
            font-weight: 400;
            font-size: 11px;
            line-height: 11px;
            margin-top: 5px;
            @include transition(0.3s);
        }

        .etapa-concluido,
        .etapa-cancelado,
        .etapa-davez,
        .etapa-desistencia {
            width: 20px;
            height: 20px;
            position: absolute;
            top: -5px;
            right: -2px;
            text-align: center;
            font-size: 10px;
            @include transition(0.3s);
        }

        .etapa-concluido {
            background: url(../Imagens/_icons/etapa-check.png) center center no-repeat;
        }

        .etapa-cancelado {
            background: url(../Imagens/_icons/etapa-cancelada.png) center center no-repeat;
        }

        .etapa-davez {
            background: url(../Imagens/_icons/etapa-davez.png) center center no-repeat;
        }

        .etapa-desistencia {
            background: url(../Imagens/_icons/etapa-desistencia.png) center center no-repeat;
        }

        &.etapa-atual {
            border: solid 1px #2a98ec;

            .icon-etapa {
                filter: grayscale(0);
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -10px;
                height: 5px;
                background-color: #2a98ec;
                width: 60%;
                @include radius(4px);
                @include transition(0.3s);
            }
        }

        &.etapa-atual .nome-etapa {
            color: #2a98ec;
            font-weight: 500;
        }

        &.etapa-indisponivel {
            background-color: #f8f9fb;
            border: none;
            opacity: 0.5;
            cursor: inherit;
        }
    }
}

.habilitacao-button {
    display: flex;
    gap: 5px;
    flex-flow: row;

    .habilitacao {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #f7f7f7;
        display: inline-block;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        border: solid 1px #dfdfdf;
        cursor: pointer;
        @include transition(0.3s);

        &.saibamais {
            width: 32px;
        }

        .icon-habilitacao {
            margin-top: 5px;
            display: inline-block;
            width: 30px;
            height: 30px;
            background-size: 30px;
            filter: grayscale(1);
            @include transition(0.3s);

            &.identificacaopessoa {
                background: url(../Imagens/_icons/13.png) center center no-repeat;
                background-size: 30px;
            }

            &.digital {
                background: url(../Imagens/_icons/20.png) center center no-repeat;
                background-size: 30px;
            }

            &.simulador {
                background: url(../Imagens/_icons/18.png) center center no-repeat;
                background-size: 30px;
            }

            &.auditoria {
                background: url(../Imagens/_icons/12.png) center center no-repeat;
                background-size: 30px;
            }

            &.aula {
                background: url(../Imagens/_icons/05.png) center center no-repeat;
                background-size: 30px;
            }

            &.prova {
                background: url(../Imagens/_icons/29.png) center center no-repeat;
                background-size: 30px;
            }

            &.agendamento {
                background: url(../Imagens/_icons/14.png) center center no-repeat;
                background-size: 30px;
            }

            &.psicologico {
                background: url(../Imagens/_icons/04.png) center center no-repeat;
                background-size: 30px;
            }

            &.exame {
                background: url(../Imagens/_icons/03.png) center center no-repeat;
                background-size: 30px;
            }

            &.ipva {
                background: url(../Imagens/_icons/33.png) center center no-repeat;
                background-size: 30px;
            }

            &.taxa {
                background: url(../Imagens/_icons/02.png) center center no-repeat;
                background-size: 30px;
            }

            &.taxavistoria {
                background: url(../Imagens/_icons/02.png) center center no-repeat;
                background-size: 30px;
            }

            &.abertura {
                background: url(../Imagens/_icons/01.png) center center no-repeat;
                background-size: 30px;
            }

            &.placa {
                background: url(../Imagens/_icons/15.png) center center no-repeat;
                background-size: 30px;
            }

            &.auditoria {
                background: url(../Imagens/_icons/24.png) center center no-repeat;
                background-size: 30px;
            }

            &.crv {
                background: url(../Imagens/_icons/16.png) center center no-repeat;
                background-size: 30px;
            }


            &.identificacaoveiculo {
                background: url(../Imagens/_icons/28.png) center center no-repeat;
                background-size: 30px;
            }

            &.registrocontrato {
                background: url(../Imagens/_icons/35.png) center center no-repeat;
                background-size: 30px;
            }

            &.formrenavam {
                background: url(../Imagens/_icons/32.png) center center no-repeat;
                background-size: 30px;
            }

            &.vistoria {
                background: url(../Imagens/_icons/17.png) center center no-repeat;
                background-size: 30px;
            }

            &.inclusaogravame {
                background: url(../Imagens/_icons/37.png) center center no-repeat;
                background-size: 30px;
            }

            &.baixagravame {
                background: url(../Imagens/_icons/36.png) center center no-repeat;
                background-size: 30px;
            }

            &.notafiscal {
                background: url(../Imagens/_icons/38.png) center center no-repeat;
                background-size: 30px;
            }

            &.saibamais {
                background: url(../Imagens/_icons/39.png) center center no-repeat;
                background-size: 30px;
            }

            &.atpv {
                background: url(../Imagens/_icons/40.png) center center no-repeat;
                background-size: 30px;
            }

            &:hover {
                filter: grayscale(0);
            }
        }

        .nome-habilitacao {
            display: inline-block;
            text-align: center;
            width: 100%;
            font-weight: 400;
            font-size: 11px;
            line-height: 11px;
            margin-top: 5px;
            @include transition(0.3s);
        }

        .habilitacao-concluido,
        .habilitacao-cancelado,
        .habilitacao-davez {
            width: 20px;
            height: 20px;
            position: absolute;
            bottom: -5px;
            left: -2px;
            text-align: center;
            font-size: 10px;
            @include transition(0.3s);
        }

        .habilitacao-concluido {
            background: url(../Imagens/_icons/etapa-check.png) center center no-repeat;
        }

        .habilitacao-cancelado {
            background: url(../Imagens/_icons/etapa-cancelada.png) center center no-repeat;
        }

        .habilitacao-davez {
            background: url(../Imagens/_icons/etapa-davez.png) center center no-repeat;
        }

        &.etapa-indisponivel {
            background-color: #f8f9fb;
            border: none;
            opacity: 0.5;
            cursor: inherit;
        }
    }
}

.box-post {
    display: block;
    width: 100%;
    background: $branco;
    margin-bottom: 4px;
    border: solid 1px #b3b3b3;
    @include radius(0.2rem);

    .thumb-post {
        height: 224px;
        background: #eef2f7;
        border-top-left-radius: .2rem;
        border-top-right-radius: .2rem;
        background-position: center center;
        background-size: cover;
        position: relative;

        .prev,
        .next {
            color: #808080;
            cursor: pointer;
            font-size: 20px;
            @include transition(0.3s);
            z-index: 5;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .prev {
            left: 10px;
        }

        .next {
            right: 10px;
        }
    }

    .infos-base {
        width: 100%;
        height: 112px;
        padding: 15px;

        span,
        p {
            width: 100%;
        }

        .linha-divisor {
            display: block;
            width: 100%;
            height: 1px;
            background: #a1a1a1;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .nome {
            font-size: 16px;
            line-height: 1em;
            color: $preto;
        }

        .data-post {
            color: #b3b3b3;
            font-size: 16px;
        }

        .descricao-post {
            width: 100%;
            font-size: 11px;
            margin-bottom: 0;
        }

        .text-truncate-container {
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            height: 70%;
        }
    }
}

.extrato {
    .list-menu-extrato {
        cursor: pointer;
    }
}

body {
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

.flex-end {
    align-items: flex-end !important;
}

.inline-block-label {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.popover {
    width: 50%;
    max-width: inherit;

    .col-auto {
        display: flex;
        align-items: baseline;

        #qualquerParte {
            display: inline-block;
            margin-right: 5px;
        }
    }
}


.space-card {
    margin-bottom: 40px;

    input {
        margin-bottom: 18px;
    }
}

.tamanho-plaintext {
    width: 1024px;
}


.load-bar-box {
    z-index: 10000;
}

.metro-layout {
    .box {
        @include transition(0.3s);
    }
}

.item-servico {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 12px;
    height: 30px;
    @include transition(0.3s);
    line-height: 30px;
    margin-bottom: 12px;
    background: grey;
    color: #fff;
    @include radius(7px);

    &:hover {
        -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.5);
        background: #fff;
    }

    &.active {
        -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.5);
        background: #fff;
        color: #000;
        font-weight: 500;

        .quantidade {
            color: #16f100;
        }
    }
}

.servicos-etapas {
    td {
        label {
            cursor: pointer;
        }
    }
}


#idCiretran,
#idCredenciamentoCFC {
    padding: 4px;
    border: solid 1px #dbdbdb;
    height: 38px;

    &.is-invalid {
        border-color: #dc3545 !important;
    }
}

.placa1 {
    display: grid;
    grid-template-rows: 40px 1fr;
    grid-template-areas: "tarjeta" "corpo";
    width: 380px;
    height: 150px;
    border-radius: 16px;
    box-shadow: 0px 0 4px 0px grey;

    .tarjeta {
        grid-area: tarjeta;
        background-color: #0135A5;
        color: #ffffff;
        border-radius: 10px 10px 0 0;
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }

    .nome-pais {
        font-weight: 600;
        letter-spacing: 0.1em;
        font-size: 1.2em;
    }

    .corpo {
        grid-area: corpo;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .corpo .qr-code {
        position: absolute;
        left: 5px;
        top: 5px;
    }

    .corpo .letras {
        font-size: 4.5em;
        font-weight: 700;
    }

    &.vermelho {
        border: #f22e3a solid 5px;

        .corpo {
            color: #f22e3a;
        }
    }

    &.amarelo {
        border: #ffa450 solid 5px;

        .corpo {
            color: #ffa450;
        }
    }

    &.verde {
        border: #08a65c solid 5px;

        .corpo {
            color: #08a65c;
        }
    }

    &.preto {
        border: solid 5px #000;

        .corpo {
            color: #000;
        }
    }

    &.azul {
        border: #3897ab solid 5px;

        .corpo {
            color: #3897ab;
        }
    }
}



.colecionador {
    border: #c4aeb0 solid 5px;

    .corpo {
        color: #c4aeb0;
    }
}


.placamoto {
    display: inline-block;
    width: 210px !important;
    height: 180px !important;

    .letraMoto {
        display: inline-block;
        text-align: center;
        line-height: 60px;
        font-size: 55px;
    }
}
