.load-bar-box {
    position: relative;
    overflow: hidden;
    height: 10px;
}

.load-bar {
    height: 4px;
    position: absolute;
    width: 100%;
    transition: all 0.2s ease;
    z-index: 2040;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.load-bar:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #29d;
    animation: loading 2s linear infinite;
    box-shadow: 0 0 5px #29d;
}

@keyframes loading {
    from {
        left: -200px;
        width: 30%;
    }

    50% {
        width: 30%;
    }

    70% {
        width: 70%;
    }

    80% {
        left: 50%;
    }

    95% {
        left: 120%;
    }

    to {
        left: 100%;
    }
}