body, html {
    height: 100%;
}

.controle-acesso {
    display: flex;
    align-items: center;
    justify-content: center;
}

.controle-acesso .login-page {
    padding: 2em;
    max-width: 900px;
    margin: 0 auto;
}

    .controle-acesso .header .titulo {
        font-size: 24px;
        font-weight: bolder;
        text-align: center;
    }

        .controle-acesso .header .titulo.erro {
            color: #900;
        }

        .controle-acesso .header .titulo.sucesso {
            color: #8fbf46;
        }

    .controle-acesso .header .subtitulo {
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #999999;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }

.controle-acesso .msg-erro {
    background: #900;
}

.controle-acesso .msg-sucesso {
    background: #8fbf46;
}

.controle-acesso .aguarde-redirecionamento {
    -webkit-animation: 0.7s ease 0s normal forwards 1 fadein;
    animation: 0.7s ease 0s normal forwards 1 fadein;
}

.controle-acesso .modal {
    max-width: 500px;
    margin: 50px auto;
    padding: 10px;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.controle-acesso .modal .mensagem-principal {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    display: block;
    padding: 0 50px 30px 50px;
    text-align: center;
}

.controle-acesso .modal .mensagem-secundaria {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    display: block;
    padding: 0 50px 30px 50px;
    text-align: center;
}

.controle-acesso .modal .mensagem-carregando {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.controle-acesso .modal .separacao {
    margin-top: 15px;
    background-color: #400;
    height: 1px;
    display: block;
    width: 60px;
    margin: 20px auto;
}

.controle-acesso .modal .mensagem-auxiliar {
    color: #ffffff;
    font-size: 14px;
    padding: 0 20px;
    text-align: center;
}

.controle-acesso .modal .botao {
    width: 100%;
    background: #fff;
    display: block;
    color: #900;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}

.controle-acesso .login-content {
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}

.controle-acesso .login-area {
    display: grid;
    grid-template-columns: 100% 0;
    min-height: 75vh;
}

.controle-acesso .login-area .col-form {
    padding: 3em 2em;
    border-radius: 0.5em 0 0 0.5em;
    background-color: #fff;
    grid-column: 1;
}

.controle-acesso .login-area .col-sistema {
    border-radius: 0 0.5em 0.5em 0;
    grid-column: 2;
}

.controle-acesso .login-area .modulo-controle {
    font-size: 24px;
    font-weight: bold;
    color: #323232;
    line-height: 1.2em;
    letter-spacing: -0.02em;
    text-align: center;
}

.controle-acesso .login-area .nome-sistema {
    font-family: Georgia;
    font-style: italic;
    margin-top: 40px;
    color: #323232;
    letter-spacing: -0.01em;
    text-align: center;
}
        
.controle-acesso .login-area .logo {
    display: inline-block;
    width: 250px;
    height: 100px;
    text-indent: -9999px;
    background: url(../Imagens/logo-detran-negativo.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.controle-acesso .login-area .cabecalho {
    width: 100%;
    margin-bottom: 15px;
}

.controle-acesso .login-area .logo-container {
    text-align: center;
}

.success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;
}

    .success-checkmark .check-icon {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 50%;
        box-sizing: content-box;
        border: 4px solid #8fbf46;
    }

        .success-checkmark .check-icon::before {
            top: 3px;
            left: -2px;
            width: 30px;
            transform-origin: 100% 50%;
            border-radius: 100px 0 0 100px;
        }

        .success-checkmark .check-icon::after {
            top: 0;
            left: 30px;
            width: 60px;
            transform-origin: 0 50%;
            border-radius: 0 100px 100px 0;
            animation: rotate-circle 4.25s ease-in;
        }

        .success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
            content: '';
            height: 100px;
            position: absolute;
            background: #FFFFFF;
            transform: rotate(-45deg);
        }

        .success-checkmark .check-icon .icon-line {
            height: 5px;
            background-color: #8fbf46;
            display: block;
            border-radius: 2px;
            position: absolute;
            z-index: 10;
        }

            .success-checkmark .check-icon .icon-line.line-tip {
                top: 46px;
                left: 14px;
                width: 25px;
                transform: rotate(45deg);
                animation: icon-line-tip 0.75s;
            }

            .success-checkmark .check-icon .icon-line.line-long {
                top: 38px;
                right: 8px;
                width: 47px;
                transform: rotate(-45deg);
                animation: icon-line-long 0.75s;
            }

        .success-checkmark .check-icon .icon-circle {
            top: -4px;
            left: -4px;
            z-index: 10;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: absolute;
            box-sizing: content-box;
            border: 4px solid rgba(143, 191, 87, 0.5);
        }

        .success-checkmark .check-icon .icon-fix {
            top: 8px;
            width: 5px;
            left: 26px;
            z-index: 1;
            height: 85px;
            position: absolute;
            transform: rotate(-45deg);
            background-color: #FFFFFF;
        }

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }

    5% {
        transform: rotate(-45deg);
    }

    12% {
        transform: rotate(-405deg);
    }

    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }

    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }

    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }

    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

/* Telas menores que 580px */
@media screen and (max-width: 580px) {
    .controle-acesso .login-area {
        grid-template-columns: minmax(360px, 100%);
        grid-template-rows: auto auto;
    }

    .controle-acesso .login-area .col-form {
        grid-row: 1;
        grid-column: 1;
        border-radius: 0.5em 0.5em 0 0;
    }

    .controle-acesso .login-area .col-sistema {
        grid-row: 2;
        grid-column: 1;
        border-radius: 0 0 0.5em 0.5em;
    }
}

.success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;
}

    .success-checkmark .check-icon {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 50%;
        box-sizing: content-box;
        border: 4px solid #8fbf46;
    }

        .success-checkmark .check-icon::before {
            top: 3px;
            left: -2px;
            width: 30px;
            transform-origin: 100% 50%;
            border-radius: 100px 0 0 100px;
        }

        .success-checkmark .check-icon::after {
            top: 0;
            left: 30px;
            width: 60px;
            transform-origin: 0 50%;
            border-radius: 0 100px 100px 0;
            animation: rotate-circle 4.25s ease-in;
        }

        .success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
            content: '';
            height: 100px;
            position: absolute;
            background: #FFFFFF;
            transform: rotate(-45deg);
        }

        .success-checkmark .check-icon .icon-line {
            height: 5px;
            background-color: #8fbf46;
            display: block;
            border-radius: 2px;
            position: absolute;
            z-index: 10;
        }

            .success-checkmark .check-icon .icon-line.line-tip {
                top: 46px;
                left: 14px;
                width: 25px;
                transform: rotate(45deg);
                animation: icon-line-tip 0.75s;
            }

            .success-checkmark .check-icon .icon-line.line-long {
                top: 38px;
                right: 8px;
                width: 47px;
                transform: rotate(-45deg);
                animation: icon-line-long 0.75s;
            }

        .success-checkmark .check-icon .icon-circle {
            top: -4px;
            left: -4px;
            z-index: 10;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: absolute;
            box-sizing: content-box;
            border: 4px solid rgba(143, 191, 87, 0.5);
        }

        .success-checkmark .check-icon .icon-fix {
            top: 8px;
            width: 5px;
            left: 26px;
            z-index: 1;
            height: 85px;
            position: absolute;
            transform: rotate(-45deg);
            background-color: #FFFFFF;
        }

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }

    5% {
        transform: rotate(-45deg);
    }

    12% {
        transform: rotate(-405deg);
    }

    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }

    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }

    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }

    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}